<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AVISO DE PRIVACIDAD</title>
</head>
<link rel="shortcut icon" type="image/x-icon" href="img/condor_logo.png" width="15" height="5">

<h1 style="text-align:center;color:red;">AVISO DE PRIVACIDAD</h1>
<strong><p style="text-align:center;">CONDOR S.A. DE C.V., con domicilio en Carretera 210 Km 5+691 Tramo La Piedad
Jesús María, El Marqués, Qro. es el responsable del uso y protección de sus datos personales, y al respecto le informamos
lo siguiente:</strong>.

<p style="text-align:center;"><strong>¿Para qué fines utilizaremos sus datos personales?</strong>
<p style="text-align:center;">Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita:
<strong><p style="text-align:center;">•	ALMACENAMIENTO EN SISTEMA DE CLIENTES.</strong>
<strong><p style="text-align:center;">•	CONTACTO PARA OFRECER OFERTAS.</strong>
<strong><p style="text-align:center;">•	HISTORIAL DE CLIENTES.</strong>

<p style="text-align:center;">De manera adicional, utilizaremos su información personal para las siguientes finalidades que no son necesarias para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atención:
<strong><p style="text-align:center;">•	NEWSELLERS. </strong>
<strong><p style="text-align:center;">•	CONTACTO DE OFERTAS.</strong>

<p style="text-align:center;">En caso de que no desee que sus datos personales sean tratados para estos fines adicionales, desde este momento
  usted nos puede comunicar lo anterior, <strong>IMPRESIÓN DEL FORMATO Y EL CLIENTE FIRMA QUE NO ACEPTA LA TRNASMICION Y ALAMCENAMIENTO DE DATOS.</strong>
La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios y productos
que solicita o contrata con nosotros.
<p style="text-align:center;"><strong>¿Qué datos personales utilizaremos para estos fines?</strong>
<p style="text-align:center;">Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes
datos personales: <strong>[NOMBRE, APELLIDO PAT, APELLIDO MAT, NUMERO PERSONAL, TELEFONO CELULAR, CORREO ELECTRONICO, FECHA DE NACIMIENTO, RFC,
DOMOCILIO]</strong>
Además de los datos personales mencionados anteriormente, para las finalidades informadas en el presente aviso de privacidad utilizaremos
los siguientes datos personales considerados como sensibles, que requieren de especial protección:
<strong>[FECHA DE NACIMIENTO, CONTACTO, NUMEROS PERSONALES]</strong>
<p style="text-align:center;"><strong>¿Con quién compartimos su información personal y para qué fines?</strong>
<p style="text-align:center;">Sus datos no se comparten con ninguna empresa ni persona, ya que nuestra finalidad solamente es tener un registro de cliente y ventas,
así como ofrecer a los clientes promociones.
<p style="text-align:center;"><strong>¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?</strong>
  <p style="text-align:center;">Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones
     del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté
     desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere
     que la misma no está siendo utilizada conforme a los principios, deberes y obligaciones previstas en la normativa (Cancelación);
     así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.
Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva en <strong>[correo electrónico o en las
instalaciones de la empresa].</strong>

<p style="text-align:center;"><strong>¿Cómo puede revocar su consentimiento para el uso de sus datos personales?</strong>
  <p style="text-align:center;">Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos
    personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de
    forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. Asimismo, usted
    deberá considerar que, para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio
    que nos solicitó, o la conclusión de su relación con nosotros.
Para revocar su consentimiento deberá presentar su solicitud en <strong>[la empresa directamente].</strong>

<p style="text-align:center;"><strong>El uso de tecnologías de rastreo en nuestro portal de Internet</strong>
<p style="text-align:center;">Le informamos que en nuestra página de Internet utilizamos cookies, web beacons y otras tecnologías a
  través de las cuales es posible monitorear su comportamiento como usuario de Internet, así como brindarle un mejor servicio y experiencia
   de usuario al navegar en nuestra página.
Estas tecnologías podrán deshabilitarse siguiendo los siguientes pasos: <strong>[modo privacidad o incognito desde tu navegador].</strong>

<p style="text-align:center;"><strong>¿Cómo puede conocer los cambios a este aviso de privacidad?</strong>
<p style="text-align:center;">El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos
  requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad;
  de cambios en nuestro modelo de negocio, o por otras causas.
Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a través de <strong>[Pagina web].</strong>

<p style="text-align:center; color:red;"><strong>Copyright CONDOR SA DE CV .</strong>
<br>
<br>
<img src="img/condor_logo.png"  width="270px" height="50px" alt="">

<p style="text-align:center; color:red;"><strong>Copyright DESTRO SOFTWARE ENGINEERING .</strong>
